<h1>Add a category</h1>

<p>Add a category here:</p>

<form action="/categories" method="post">
    <input class="form-control mb15 input-sm" id="name" name="name" type="text" placeholder="Name of Category" autocomplete="off">
  	<button type="submit" class="btn btn-success btn-xs">Add Category</button>
</form>
