
<div class="alert alert-success mt40">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	Your <strong>Task</strong> Has Been <strong>Saved Successfully</strong> under <strong>$category.getName()</strong> category. <a href="/categories" class="alert-link">View Categories</a>.
</div>
