<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/bootstrap-override.css'>
    <link rel='stylesheet' href='/css/font-awesome.css'>
    <link rel='stylesheet' href='/css/lato.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/jquery-ui-1.10.3.css'>
</head>
<body>
    <div class="container">
      	#parse( $template )
    </div>
    <footer class="footer"><p>&copy; 2018 All Rights Reserved. Moringa School, To-Do List Project. Developed by Yommie Samora.</p></footer>

<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
